:root {
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --dark-color: #2e2f42;
  --success-color: #31d0aa;
  --text-color: #434455;
  --subtle-text-color: #8e8f99;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --modal-overlay-color: rgba(46, 47, 66, 0.4);
  --hero-background-color: #2e2f42;
  --body-background-color: #ffffff;
  --button-secondary-text-focus-color: #ffffff;
  --hero-title-color: #ffffff;
  --button-primary-text-color: #ffffff;
  --team-background-color: #f4f4fd;
  --portfolio-examples-margin-row: 48px;
  --portfolio-examples-margin-column: 24px;
  --values-text-margin-column: 24px;
  --doing-images-margin-column: 24px;
  --team-image-margin-column: 24px;
  --backgroung-team-list-item-color: #ffffff;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
  font-size: 16px;
  background-color: var(--body-background-color);
}

/* utilities */

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1158px;
}

img {
  display: block;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*  */

/* header */
.header-border {
  border-bottom: 1px solid var(--accent-color);
}

.container.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* logotype */
.nav-link {
  display: flex;
  align-items: center;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--dark-color);
}
.logo-web {
  color: var(--primary-brand-color);
}

/* site nav */
.site-nav {
  display: flex;
  margin-left: 76px;
}

.site-nav .item:not(:last-child) {
  margin-right: 40px;
}

.site-nav .link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  color: var(--dark-color);
  text-decoration: none;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--pressed-state-color);
}
.site-nav .link.current {
  color: var(--pressed-state-color);
}

/* contact adress */
.main-adress {
  margin-left: auto;
}

.contact-adress {
  display: flex;

  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.contact-adress .item + .item {
  margin-left: 40px;
}

.contact-adress .link,
.contact-adress .tel {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  color: var(--dark-color);
  text-decoration: none;
}
.contact-adress .link:hover,
.contact-adress .tel:hover,
.contact-adress .link:focus,
.contact-adress .tel:focus {
  color: var(--pressed-state-color);
}

/* Hero */
.hero {
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;
  background-color: var(--hero-background-color);
}

.hero-title {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 48px;
  margin-left: auto;
  max-width: 500px;

  color: var(--hero-title-color);
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.button {
  border: 1px solid transparent;
}
/* Hero  button */
.button.primary {
  border-radius: 4px;
  padding: 16px 32px 16px 32px;
  display: inline-block;
  color: var(--button-primary-text-color);
  background-color: var(--primary-brand-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  cursor: pointer;
}
.button.primary:hover,
.button.primary:focus {
  background-color: var(--pressed-state-color);
}
/* End Hero button */

/* sections */

/* .section.no-padding {
  padding-top: 0;
  padding-bottom: 0;
} */

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section.value {
  padding-bottom: 60px;
}

.section.doing {
  padding-top: 60px;
}

/* .section .values-title {
  margin-top: 0;
  margin-bottom: 0;
} */

.section .doing-title,
.section .team-title {
  margin-top: 0;
  margin-bottom: 72px;
  color: var(--dark-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

/* section Our ideals and values + our team*/

.values-title {
  visibility: hidden;
}

.values-list {
  display: flex;
  column-gap: var(--values-text-margin-column);
}

.values-list .item {
  flex-basis: calc((100% - 3 * var(--values-text-margin-column) / 4));
}

.section .value-subtitle {
  margin-top: 0;
  padding: 0;
  margin-bottom: 8px;
  color: var(--dark-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.section .value-text {
  margin: 0;
  padding: 0;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.doing-list {
  display: flex;
  column-gap: var(--doing-images-margin-column);
}

.doing-list .item {
  flex-basis: calc((100% - 2 * var(var(--doing-images-margin-column)) / 3));

  border: 1px solid var(--accent-color);
}

/* section team */
.section.team {
  background-color: var(--team-background-color);
}

.section .team-subtitle {
  margin-top: 0;
  margin-bottom: 8px;
  padding: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--dark-color);
}

.team-image > .item {
  background-color: var(--backgroung-team-list-item-color);
}

.team-image {
  display: flex;
  column-gap: var(--team-image-margin-column);
}

.team-image .item {
  flex-basis: calc((100%-3 * var(--team-image-margin-column)) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-content {
  padding: 32px 0 32px 0;
}

.section .team-text {
  margin: 0;
  letter-spacing: 0.02em;
  line-height: 1.5;
  text-align: center;
}

/* footer */

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--dark-color);
}

.footer .logo-studio {
  color: var(--light-color);
}

.footer-text {
  margin: 16px 0 0 0;
  max-width: 264px;
  color: var(--accent-color);
  letter-spacing: 0.02em;
  line-height: 1.5;
}

/* END INDEX */
/*  */
/*  */
/*  */
/* PORTFOLIO PAGE*/
.portfolio-title {
  margin: 0;
  padding: 0;
}

/* buttons */

.section.portfolio {
  padding-top: 96px;
}

.portfolio-button {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
  column-gap: 24px;
}

.button.secondary {
  border-radius: 4px;

  padding: 12px 24px 12px 24px;
  display: block;
  color: var(--primary-brand-color);
  background-color: var(--light-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  border-color: var(--accent-color);
  cursor: pointer;
}

.button.secondary:hover,
.button.secondary:focus {
  border: 1px solid transparent;
  background-color: var(--pressed-state-color);
  color: var(--button-secondary-text-focus-color);
}

/* portfolio list */

.portfolio-examples {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  row-gap: var(--portfolio-examples-margin-row);
  column-gap: var(--portfolio-examples-margin-column);
}

.portfolio-examples > .item {
  flex-basis: calc((100% - 2 * var(--portfolio-examples-margin-column)) / 3);
}

.list .portfolio-link {
  text-decoration: none;
}
.examples-content {
  padding: 32px 0 32px 16px;
  border-right: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

.list .portfolio-subtitle {
  margin: 0 0 8px 0;
  color: var(--dark-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.portfolio-text {
  margin: 0;
  color: var(--text-color);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.list .portfolio-subtitle:hover,
.list .portfolio-subtitle:focus,
.list .portfolio-text:hover,
.list .portfolio-text:focus {
  color: var(--pressed-state-color);
}

.list .portfolio-link:hover,
.list .portfolio-link:focus {
  color: var(--pressed-state-color);
}
